body{
    background: #f0f8ff;
}

h1{
    font-size: 25pt;
}

div#memo{
    background-color: #fddea5;
    padding: 10px;
    margin-top: 30px;
}

div#memo > hr{
    border: 1px solid #777;
    width: 80%;
    margin-left: 0px;
}

div#memo > h1{
    font-size: 25pt;
}

div#memo > p{
    font-size: 19pt;
    line-height: 15px;
}

#main{
    display: table;
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0px 0;
}

#main > div{
    list-style: none;
    display: table-cell;
    margin: 0 5px;
    padding: 10px;
}

#contents{
    background-color: #fffae6;
}

#tag{
    width: 300px;
    background-color: #0f0;
}

li{
	list-style: none;
}

#contents_h1{
    font-size: 25pt;
}

.page{
    border-radius: 10px;
    background-color: #ccffff;
    font-size: 22.5pt;
    padding: 5px;
    margin-top: 10px;
}

.page_tag{
    padding-top: 10px;
    font-size: 15pt;
}

.page_img{
    text-align: left;
    width: 50px;
    height: 50px;
}

.page_name{
    padding-left: 5px;
    font-size: 37.5pt;
}

.page_date{
    font-size: 15pt;
    float: right;
    margin-top: 40px;
    margin-right: 10px;
	font-family: monospace;
}

.page_hr{
	border: 1px solid #aaa;
}

.page_txt{
	font-size: 19pt;
	margin-top: -10px;
}

#tag_table{
    display: table;
    font-size: 19pt;
}

.tag_table_cell{
    display: table-cell;
}
